@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


body{
    padding: 21px 121px;

}
.elm {
    width: 50%;
    margin-top: 100px;
}
.row ul{
display: flex ;
justify-content: space-between;
align-items: center;
list-style: none;
font-size: 20px;
}

.row ul li{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.row-one{
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 80px;

}
.row-one h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
    max-width: 568px;
    
  
}
.row-one p{
    font-size: 20px;
}
.row-one .content{
    width: 50%;
}
.row-two{
margin-top: 67.62px;
display: flex;
justify-content: center;
align-items: center;
}
.news{
    background-color: #1E4681;
    width: 33%;
    color: white;
    padding: 20px;
    font-size: 25px;
    border-radius: 5px;
    height: fit-content;
}
.news .author{
    font-size: 20px;
    display: flex;
    justify-content: flex-end !important;
  
}
.container-head{
    font-family: 'Roboto', sans-serif;
}
.row-three{
    margin-top: 173px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    width: 100%;
}


.row-three h2{
    width: 365px;
    height: 93px;
    font-size: 55px;
}
.row-three p{
    margin-top: 18px;
    font-size: 24px;
    width: 662px;
    height: 374px;
    

}
.column-sh img{
    width: 314px;
    height:315px;
}
.row-for{
    width: 80%;
    margin-top: 94px;
    display: flex;
    align-items: center;
    gap: 55px;
}
.column-shsh img{
    width: 232px;
    height: 203px;
}
.column-shsh{
    margin-right: 131px;
}
.row-k{
    margin-right: 132px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.row-k .column-h{
    font-weight: 700;
    font-size: 24px;
}

.column-h {
    font-weight: 400;
    font-size: 18px;
    max-width: 150px;
    max-height: 85px;
    margin: 0px 90px 0px 0px;
}

.column-h h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
}
.column-h p{
    font-weight: 400;
    font-size: 18px;
    max-width: 150px;
}


@media (max-width:992px){
    header img{
        width: 64.87px;
        height: 38.23px;
    }
    .row{
        margin-top: 57.92px;
    }
    .row-one h1{
        font-size: 46px ;
        margin-bottom: 2.75px;
    }
    .row-one p{
        font-size: 12px ;
    }
    .row-one img{
        width: 176.07px;
        height: 206.18px;
    }
    

    .row ul li{
        font-size: 12px ;
    }
    .row-two p{
        font-size: 14px;
        line-height: 18.2px;

    }
    .author p{
        font-size: 12px;
        margin-top: 10px;
        
    }
    .news{
        width: 280.11px;
        height: 115.83px;
    }
    .row-three .column{
        width: 383.41px;
    }
    .row-three h2{
        font-size: 32px;
        margin-bottom: 10.42px;
    }
    .row-three p{
        font-size: 14px;
        width: 100%;
    }
    .column-sh img{
        width: 181.86px;
        height: 182.44px;
        margin-bottom: 100px;

    }
    .row-for .column-shsh img{
        width: 134.37px;
        height: 117.57px;
    }
    .row-k h3{
        font-size: 15px;
    }
    .row-k p{
        font-size: 11px;
        width: 100%;
    }

    .row-k {
        gap: 55.23px;
      
    }
    .row-for{
        margin-top: -145px;
        margin-bottom: 100px;

    }
}
 
@media (max-width:600px){
    body{
        padding: 36px !important;
    }
    header img{
        width: 52.19px;
        height: 30.75px;
    }
    .row{
        margin-top: 44.6px;
        
    }
    .row ul li{
        font-size: 10px;
        margin-right: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }

    .row ul li img{
        width: 10.25px;
        height: 9.79px;
    }
    
    .row-one{
        flex-direction: column;
        width: 100%;
        margin-top: 8.46px;
    }
    .content{
        width: 100% !important;
    }
    .content h1{
        font-size: 37px;
    }
    .content p{
        font-size: 10px;
    }
    .row-one img{
        width: 141.66px;
        height: 165.89px;
    }
   .row-one .photo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   }
   .news{
    width: 225.36px;
    height: 93.19px;
}
.row-two p{
    font-size: 11px;
    line-height: 14.3px;

}
.author p{
    font-size: 10px;
    margin-top: 5px;
    
}
.row-two{
    justify-content: flex-start;
    margin-top: 47.86px;
}


.row-three {
    width: 100%;
    flex-direction: column;
    margin-top: 75.06px;
}
.row-three .column{
    width: 100%;
}
.row-three .column h2{
    font-size: 26px;
}
.row-three .column p{
    font-size: 12px;
    margin-top: -47.61px;

}
.row-three .column-sh img{
    width: 146.32px;
    height: 146.78px;
    margin-bottom: 180px;
}
.row-three .column-sh{
    margin-top: -180px;
}

.row-for .column-shsh{
    display: none;
}
.row-for h3{
    font-size: 12px;

}
.row-for p{
    font-size: 10px;

}

    



}